@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
body{
    margin: 0;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}
nav{
    background-color: rgba(0, 0, 0, 0.85);
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    font-weight: 600;
}
ul{
    margin-right: 10%;
    list-style-type:none;
}
li{
padding: 20px;
opacity: 60%;
}
li,a{
    display:inline;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: white;
}
.logo{
    margin-left: 10%;
}
header{
    background:linear-gradient(to right, #e71969,#f56306);
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
h1{
    font-size: 6rem;
    margin-bottom:10px ;
}
h2{
    font-size: 4rem;
    margin-bottom:40px ;
}
.btn{
    color: white;
    padding:20px 80px;
    text-align: center;
    font-size: 0.8rem;
    background-color: rgb(180, 22, 127);
    text-transform: uppercase;
    width: 150px;
    border-radius: 20px;
    letter-spacing: 0.2rem;
    font-weight: 600;
    transition: all 350ms;
}
.btn:hover{
    color: white;
    background-color: #ff2400;
    transition: all 350ms;
}

section{
    margin:0 auto;
    margin-top: 120px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h3{
    font-size: 2rem;
}
.text-section1, .text-section2, .text-section3{
    width: 60%;
    padding: 30px;
}
.img-section1, .img-section2, .img-section3{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-size: 160%;
    transition: all 350ms;
}
.img-section1{
    background-image: url("../img/chanteur.jpg");
    background-size: 100%;
}
.img-section2{
    background-position:center;
    background-image: url("../img/guitariste.jfif");
}
.img-section3{
    background-position:center;
    background-image: url("../img/concert.jpg");
}
.img-section1:hover{
    background-size: 125%;
    transition: all 350ms;
}
.img-section2:hover,.img-section3:hover{
    background-size: 200%;
    transition: all 350ms;
}

footer{
    margin-top: 200px;
    background-color: rgba(194, 188, 188, 0.918);
    padding: 5px;
    font-size: 14px;
}
footer p{
    margin-left: 80%;
}